<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HoRNDIS</string>
	<key>CFBundleGetInfoString</key>
	<string>Android/RNDIS tethering driver</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.joshuawise.kexts.HoRNDIS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HoRNDIS</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HoRNDISComposite_SGS2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDISUSBInterface</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bInterfaceClass</key>
			<integer>2</integer>
			<key>bInterfaceProtocol</key>
			<integer>255</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
		</dict>
		<key>HoRNDISDevice3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>AppleUSBComposite</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>2</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
			<key>bDeviceProtocol</key>
			<integer>0</integer>
		</dict>
		<key>HoRNDISDevice2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>AppleUSBComposite</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>239</integer>
			<key>bDeviceSubClass</key>
			<integer>2</integer>
			<key>bDeviceProtocol</key>
			<integer>1</integer>
		</dict>
		<key>HoRNDISDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>AppleUSBComposite</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>224</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
			<key>bDeviceProtocol</key>
			<integer>0</integer>
		</dict>
		<key>HoRNDISComposite</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDISUSBInterface</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bInterfaceClass</key>
			<integer>224</integer>
			<key>bInterfaceProtocol</key>
			<integer>3</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
	</dict>
</dict>
</plist>
