<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>Android/RNDIS tethering driver</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(MODULE_VERSION)</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>RNDISControlStockAndroid</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDIS</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>224</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
			<key>bInterfaceProtocol</key>
			<integer>3</integer>
		</dict>
		<key>RNDISControlMiscDeviceRoE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDIS</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>239</integer>
			<key>bInterfaceSubClass</key>
			<integer>4</integer>
			<key>bInterfaceProtocol</key>
			<integer>1</integer>
		</dict>
		<key>RNDISControlLinuxGadget</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDIS</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>2</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
			<key>bInterfaceProtocol</key>
			<integer>255</integer>
		</dict>
		<key>WirelessControllerDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.joshuawise.kexts.HoRNDIS</string>
			<key>IOClass</key>
			<string>HoRNDIS</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>bDeviceClass</key>
			<integer>224</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
			<key>bDeviceProtocol</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>3.2</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>15.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>15.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>15.0</string>
		<key>com.apple.kpi.mach</key>
		<string>15.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>15.0</string>
	</dict>
</dict>
</plist>
